<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/imagemPerfil.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="google" content="translate">
    <meta name="description" content="ecomerce para pequenas empresa com sistema de controle de vendas, usuarios, carrinhos, produtos, banner e ofertas. Sinta-se a vontade para acessar e conhecer nossa plataforma">
    <meta name="author" content="Davi Henrique, Revon Mídias Digitais">
    <meta name="keywords" content="ecomerce,produtos,shopping,vendas,compras,online,roupas,calçados,negocio,empresa,e-comerce,para,empresas,gratuito">
    <meta name="robots" content="index,follow">
    <title>ecomerce</title>

    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "0f8bcf1a-be03-4431-b264-3ad61e3bd1f2",
        });
      });
    </script>
    <!-- https://documentation.onesignal.com/reference/create-notification#example-code---create-notification -->
</head>