<body>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/609990e1b1d5182476b79b33/1f5btrsok';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">

        <div class="container">

            <a class="navbar-brand" href="/">
                <img src="/img/icon.png" id="logo" width="50" height="44" class="d-inline-block align-top">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                            id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <span id="empreza" class="text-uppercase fw-bold text-white"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <li><a href="/admin/empresa" class="dropdown-item">Quem Somos!</a></li>

                        </ul>
                    </li>
                </ul>

            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <form class="input-group">
                        <input class="form-control me-3" type="search" placeholder="Ex: simples" aria-label="Informe um">
                        <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                    </form>
                </ul>
            </div>
            <input type="hidden" name="clienteId" id="clienteId">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="me-auto mb-2 mb-lg-0 text-white position-relative">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-cart" viewBox="0 0 16 16">
                            <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                        </svg>
                        <span id="spanCarrin"
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary">0</span>
                    </a>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="reglog">
                <ul class="me-auto mb-2 mb-lg-0 text-white position-relative">
                    <a href="/user/novo" class="btn btn-success">Registra-se</a>
                    <a href="/login" class="btn btn-outline-success">Login</a>
                </ul>
            </div>

            <div class="personal-imageNav" id="divPerfil">
                <label class="label">
                    <figure class="personal-figureNav">
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" role="button"
                                        id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/img/avatar.jpg" class="personal-avatarNav" id="imgCli"
                                            alt="avatar"></a>
                                    <ul class="dropdown-menu dropdown-menu-dark"
                                        aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item text-center" id="userNome">Usuario</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/usuario/edit/">Editar</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" id="aUsuarios" href="/logout">Sair</a></li>

                                    </ul>
                                </li>
                        </div>
                    </figure>
                </label>
            </div>
        </div>

        </div>

        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        //VERIFICA USUARIO LOGADO E COLOCA INFORMAÇÕES NA DIV
        axios.get('http://localhost:3000/usuario/logado').then(resp => {
            var dados = resp.data
            if (dados.clienteId != undefined) {
                //Remover botãoes de login
                var reglog = document.getElementById("reglog")
                reglog.parentNode.removeChild(reglog);
                //Colocar nome do cliente
                var userNome = document.getElementById("userNome").innerHTML = dados.clienteNome.split(" ")[0]
                console.log(userNome)
                //Coloca foto do cliente
                if (dados.clienteFoto != undefined) {
                    var imgCli = document.getElementById("imgCli")
                    imgCli.src = dados.clienteFoto
                }
                //Verifica se o cliente ja foi validado pelo e-mail
                if (dados.clienteValidado != true) {
                    //ainda faltaaaaaaaaaaaaaaaaaaaaaa
                }

                var spanCarrin = document.getElementById("spanCarrin").innerHTML = dados.carrinho.quantidade
                console.log(spanCarrin)

                var clienteId = document.getElementById("clienteId").value = dados.clienteId

            } else {
                var divPerfil = document.getElementById("divPerfil")
                divPerfil.parentNode.removeChild(divPerfil);

            }
        })
        axios.get('http://localhost:3000/empresa').then(empresa => {
            if (empresa.data != undefined) {
                empresa.data.forEach(empresa => {
                    console.log(empresa.nome)
                    var logo = document.getElementById("logo")
                    logo.src = empresa.logo
                    console.log(empresa.logo)
                    var span = document.getElementById("empreza")
                    span.innerHTML = empresa.nome
                })
            }
        })
        function busca() {
            var buscar = document.getElementById("pesquisa")
            if (buscar.value == '' || buscar.value == undefined) {
                alert("Digite o que deseja pesquisar!")
            } else {
                console.log(buscar.value)
                axios.post("http://localhost:8080/find", { busca: buscar.value }).then(busca => {
                    console.log(busca.data)
                    window.location.href = "/admin/produto/busca/" + busca.data;
                }).catch(err => {
                    console.log(err)
                })
            }
        }

    </script>