#produtos a.destaque {
    display: block;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    color: #000;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#produtos a.destaque:hover {
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

#produtos a.destaque .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#produtos a.destaque .img-container img {
    max-height: 160px;
}
