<%- include('../partials/head.ejs')%>
    <script src="https://unpkg.com/feather-icons"></script>

    <body>
        <%- include('../partials/navLogin.ejs')%>

        <div class="container-fluid">
            <div class="text-center my-md-5 my-4">
                <span class="fs-1">Alteração de Senha</span>
                <input type="hidden" id="clienteId" value="<%=cliente%>">
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="senha" class="form-label">Insira sua Nova Senha:</label>
                    <input type="password" name="senha" id="senha" class="form-control">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="confirm" class="form-label">Confirme sua Nova Senha:</label>
                    <input type="password" name="confirm" id="confirm" class="form-control">
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-lg-3 col-md-5 col-8">
                    <button id="btnLogar" onclick="alterarSenha()" class="btn btn-dark form-control">Continuar</button>
                </div>
            </div>
        </div>
    </body>
    <!-- choose one -->

    <script>
        feather.replace()
    </script>
    <script src="/js/feather.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script>
        function valid() {
            var senha = document.getElementById("senha").value
            var confirm = document.getElementById("confirm").value
            var erro = []
            if (senha != '' && senha.length >= 6) {
                let s = document.getElementById("senha")
                s.classList.remove("is-invalid")
                s.classList.add("is-valid")
                erro[0] = false
                if (senha == confirm) {
                    let cn = document.getElementById("confirm")
                    cn.classList.remove("is-invalid")
                    cn.classList.add("is-valid")
                    erro[1] = false
                } else {
                    alert("Senha não são iguais")
                    let cn = document.getElementById("confirm")
                    cn.classList.remove("is-valid")
                    cn.classList.add("is-invalid")
                    erro[1] = true
                }
            } else {
                console.log(senha)
                alert("Senha não pode ser vazia e a quantidade minima é de 6 digitos")
                let s = document.getElementById("senha")
                s.classList.remove("is-valid")
                s.classList.add("is-invalid")

                let cn = document.getElementById("confirm")
                cn.classList.remove("is-valid")
                cn.classList.add("is-invalid")
                erro[0] = true
            }

            var valid = erro.find(e => e == true)
            return valid
        }

        function alterarSenha() {
            var vl = valid()
            if (vl != true) {
                var senha = document.getElementById("senha").value
                var confirm = document.getElementById("confirm").value
                var clienteId = document.getElementById("clienteId").value
                axios.post("/alterarSenha",{senha:senha,confirm:confirm,clienteId:clienteId}).then(resp =>{
                    if (resp.data.erro == undefined) {
                        alert(resp.data.resp)
                        document.location.href = '/'
                    } else {
                        var erro = resp.data.erro
                        if (erro.erroId == 1) {
                            alert(erro.erro)
                            document.location.href = '/login'
                        } else if (erro.erroId == 2) {
                            alert(erro.erro)
                            document.location.href = '/login'
                        }else{
                            alert(erro)
                        }
                    }
                })
            } else {

            }
        }
    </script>
    </body>

    </html>