<%- include('../partials/head.ejs')%>
    <script src="https://unpkg.com/feather-icons"></script>

    <body>
        <nav class="navbar navbar-dark justify-content-between navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Bootstrap
                </a>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="text-center my-md-5 my-4">
                <span data-feather="user-plus" class="mb-3 mx-2"></span>
                <span class="fs-1">Seja Bem-Vindo!!</span>
                <p class="fs-3">Cadastro de usuario</p>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 col-8">
                    <label for="emailLogin" class="form-label">Informe o seu E-mail:</label>
                    <input type="email" name="emailLogin" placeholder="Ex: seuemail@seuemail.com" id="emailLogin"
                        class="form-control">
                </div>
            </div>

            <div class="row justify-content-center mt-md-4 mt-2">
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="senhaLogin" class="form-label">Informe sua Senha</label>
                    <input type="password" name="senhaLogin" id="senhaLogin" class="form-control">
                </div>
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="senhaLogin" class="form-label">Confirme sua Senha</label>
                    <input type="password" name="senhaLogin" id="senhaLogin" class="form-control">
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-lg-3 col-md-5 col-8">
                    <button id="btnLogar" onclick="logar()" class="btn btn-dark form-control">Continuar</button>
                </div>
            </div>

            <div class="text-center mt-3">
                <a href="/esqueceuSenha">Esqueceu senha?</a>
                <p class="mt-2">Não tem conta? <a href="">Cadastre-se</a></p>
            </div>

        </div>
    </body>
    <!-- choose one -->

    <script>
        feather.replace()
    </script>
    <script src="/js/feather.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/telefone.js"></script>
    <script>
        function valid() {
            var nome = document.getElementById("nome").value
            var email = document.getElementById("email").value
            var numero = document.getElementById("numero").value
            var senha = document.getElementById("senha").value
            var confirm = document.getElementById("confirm").value
            if (nome != '') {
                let n = document.getElementById("nome")
                n.classList.remove("is-invalid")
                n.classList.add("is-valid")
            } else {
                let n = document.getElementById("nome")
                n.classList.remove("is-valid")
                n.classList.add("is-invalid")
            }
            if (email != '') {
                let e = document.getElementById("email")
                e.classList.remove("is-invalid")
                e.classList.add("is-valid")
            } else {
                let e = document.getElementById("email")
                e.classList.remove("is-valid")
                e.classList.add("is-invalid")
            } if (numero != '' && numero.length > 14) {
                let t = document.getElementById("numero")
                t.classList.remove("is-invalid")
                t.classList.add("is-valid")
            } else {
                let t = document.getElementById("numero")
                t.classList.remove("is-valid")
                t.classList.add("is-invalid")
            }
        }
    </script>
    <script src="/js/axios.min.js"></script>
    <script>
        function criar() {
            var nome = document.getElementById("nome").value
            var email = document.getElementById("email").value
            var numero = document.getElementById("numero").value
            var senha = document.getElementById("senha").value
            var confirm = document.getElementById("confirm").value
            if (nome != '' && email != '' && numero != '' && senha != '' && confirm != '') {
                if (senha == confirm) {
                    axios.post("/usuario/criar", { nome: nome, email: email, numero: numero, senha: senha, confirm: confirm }).then(resp => {
                        if (resp.data.erro != undefined) {
                            alert("Ocorreu um erro ao cadastrar um novo usuario!\n" + "Erro: " + resp.data.erro)
                        } else {
                            window.location.href = "/"
                        }
                    })
                } else {
                    alert("Credencias de senha inválida")
                }
            } else {
                alert("Dados vazios")
            }
        }

        function logar() {
            var btnLogar = document.getElementById("btnLogar")
            btnLogar.disabled = true
            btnLogar.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`

            var emailLogin = document.getElementById("emailLogin").value
            var senhaLogin = document.getElementById("senhaLogin").value
            if (emailLogin != '' && senhaLogin != '') {
                axios.post("/usuario/login", { emailLogin: emailLogin, senhaLogin: senhaLogin }).then(resp => {
                    if (resp.data.erro != undefined) {
                        btnLogar.disabled = false
                        btnLogar.innerHTML = 'Continue'
                        alert("Ocorreu um erro ao logar!\n" + "Erro: " + resp.data.erro)
                    } else {
                        window.location.href = "/"
                    }
                })
            } else {
                alert("Dados do login estão vazios")
                btnLogar.disabled = false
                btnLogar.innerHTML = 'Continue'
                if (emailLogin != '') {
                    let e = document.getElementById("emailLogin")
                    e.classList.remove("is-invalid")
                    e.classList.add("is-valid")
                } else {
                    let e = document.getElementById("emailLogin")
                    e.classList.remove("is-valid")
                    e.classList.add("is-invalid")
                }

                if (senhaLogin != '') {
                    let s = document.getElementById("senhaLogin")
                    s.classList.remove("is-invalid")
                    s.classList.add("is-valid")
                } else {
                    let s = document.getElementById("senhaLogin")
                    s.classList.remove("is-valid")
                    s.classList.add("is-invalid")
                }
            }
        }
    </script>
    </body>

    </html>