<%- include('../partials/head.ejs')%>
    <script src="https://unpkg.com/feather-icons"></script>

    <body>
        <%- include('../partials/navLogin.ejs')%>

        <div class="container-fluid">
            <div class="text-center my-md-5 my-4">
                <span data-feather="user-plus" class="mb-3 mx-2"></span>
                <span class="fs-1">Seja Bem-Vindo!!</span>
                <p class="fs-3">Cadastro de usuario</p>
            </div>

            <div class="row justify-content-center mb-3">

                <div class="col-lg-2 col-xxl-1 col-md-10 col-8">
                    <div class="personal-image">
                        <label class="label">
                            <input type="file" onchange="fotoPerfil()" name="file" id="fileFoto" />
                            <input type="hidden" name="foto" id="foto64" value="">
                            <figure class="personal-figure">

                                <img src="/img/avatar.jpg" id="imagem" class="personal-avatar" alt="avatar">

                                <figcaption class="personal-figcaption">
                                    <img
                                        src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                                </figcaption>
                            </figure>
                        </label>
                    </div>
                </div>

                <div class="col-lg-4 col-xxl-5 mt-lg-4 col-md-10 col-8">
                    <label for="emailLogin" class="form-label">Informe o seu Nome Completo:</label>
                    <span data-feather="user"></span>
                    <input type="text" name="nome" id="nome" class="form-control">
                </div>
                
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10 col-8">
                    <label for="email" class="form-label">Informe o seu E-mail:</label>
                    <span data-feather="mail"></span>
                    <input type="email" name="email" placeholder="Ex: seuemail@seuemail.com" id="email"
                        class="form-control">
                </div>
            </div>

            <div class="row justify-content-center mt-md-4 mt-2">
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="senha" class="form-label">Informe sua Senha</label>
                    <span data-feather="key"></span>
                    <input type="password" name="senha" id="senha" class="form-control">
                </div>
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="confirm" class="form-label">Confirme sua Senha</label>
                    <span data-feather="lock"></span>
                    <input type="password" name="confirm" id="confirm" class="form-control">
                </div>
            </div>

            <div class="row justify-content-center mt-3">
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="numero" class="form-label">Informe o seu Numero:</label>
                    <span data-feather="smartphone"></span>
                    <input type="tel" name="numero" id="numero"  class="form-control" required onkeypress="mask(this, mphone);"
                    onblur="mask(this, mphone);" maxlength="15">
                </div>
                <div class="col-lg-3 col-md-5 mt-2 col-8">
                    <div class="form-check mt-4">
                        <input class="form-check-input" checked type="checkbox" onclick="check()" value="true" name="isWhats"
                            id="isWhats">
                        <label class="form-check-label" for="isWhats">
                            Esse numero é do Whatsapp?
                        </label>
                        <span data-feather="message-circle"></span>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-lg-3 col-md-5 col-8">
                    <button id="btnCriar" onclick="criar()" class="btn btn-dark form-control">Continuar</button>
                </div>
            </div>

            <div class="text-center mt-3">
                <p class="mt-2">Já tem conta? <a href="/login">Login</a></p>
            </div>

        </div>
    </body>
    <!-- choose one -->

    <script>
        feather.replace()
    </script>
    <script src="/js/feather.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/telefone.js"></script>
    <script>
        function fotoPerfil() {
            var filesSelected = document.getElementById("fileFoto").files;
            if (filesSelected.length > 0) {
                var fileToLoad = filesSelected[0];
                var fileReader = new FileReader();
                fileReader.onload = function (fileLoadedEvent) {
                    var srcData = fileLoadedEvent.target.result; // <--- data: base64
                    document.getElementById("foto64").value = srcData;
                    var img = document.getElementById("imagem").src = srcData
                }
                fileReader.readAsDataURL(fileToLoad);
            }
        }
    </script>
    <script>
        function check(){
            var isWhats = document.getElementById("isWhats")
            if (isWhats.value == 'true') {
                isWhats.removeAttribute("checked","checked")
                isWhats.value =  'false'
            } else {
                isWhats.setAttribute("checked","checked")
                isWhats.value =  'true'
            }
        }
        function valid() {
            var nome = document.getElementById("nome").value
            var email = document.getElementById("email").value
            var numero = document.getElementById("numero").value
            var senha = document.getElementById("senha").value
            var confirm = document.getElementById("confirm").value
            var erro = []
            if (nome != '') {
                let n = document.getElementById("nome")
                n.classList.remove("is-invalid")
                n.classList.add("is-valid")
                erro[0] = false
            } else {
                alert("Nome Inválido")
                let n = document.getElementById("nome")
                n.classList.remove("is-valid")
                n.classList.add("is-invalid")
                erro[0] = true
            }
            if (email != '') {
                let e = document.getElementById("email")
                e.classList.remove("is-invalid")
                e.classList.add("is-valid")
                erro[1] = false
            } else {
                alert("Email Inválido")
                let e = document.getElementById("email")
                e.classList.remove("is-valid")
                e.classList.add("is-invalid")
                erro[1] = true
            } if (numero != '' && numero.length > 14) {
                let t = document.getElementById("numero")
                t.classList.remove("is-invalid")
                t.classList.add("is-valid")
                erro[2] = false
            } else {
                alert("Número Inválido")
                let t = document.getElementById("numero")
                t.classList.remove("is-valid")
                t.classList.add("is-invalid")
                erro[2] = true
            }
            if (senha != '' && senha.length >= 6) {
                let s = document.getElementById("senha")
                s.classList.remove("is-invalid")
                s.classList.add("is-valid")
                erro[3] = false
                if (senha == confirm) {
                    let cn = document.getElementById("confirm")
                    cn.classList.remove("is-invalid")
                    cn.classList.add("is-valid")
                    erro[4] = false
                } else {
                    alert("Senha não são iguais")
                    let cn = document.getElementById("confirm")
                    cn.classList.remove("is-valid")
                    cn.classList.add("is-invalid")
                    erro[4] = true
                }
            } else {
                console.log(senha)
                alert("Senha não pode ser vazia e a quantidade minima é de 6 digitos")
                let s = document.getElementById("senha")
                s.classList.remove("is-valid")
                s.classList.add("is-invalid")

                let cn = document.getElementById("confirm")
                cn.classList.remove("is-valid")
                cn.classList.add("is-invalid")
                erro[4] = true
            }

            var valid = erro.find(e => e == true)
            return valid
        }
    </script>
    <script src="/js/axios.min.js"></script>
    <script>
        function criar() {
            var err = valid()
            var btnCriar = document.getElementById("btnCriar")
            btnCriar.disabled = true
            btnCriar.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`
            if (err == undefined) {
                var nome = document.getElementById("nome").value
                var email = document.getElementById("email").value
                var numero = document.getElementById("numero").value
                var senha = document.getElementById("senha").value
                var confirm = document.getElementById("confirm").value
                var isWhats = document.getElementById("isWhats").value
                var foto = document.getElementById("foto64").value
                if (nome != '' && email != '' && numero != '' && senha != '' && confirm != '') {
                    if (senha == confirm) {
                        axios.post("/usuario/criar", { nome: nome, email: email, numero: numero, senha: senha, confirm: confirm, isWhats: isWhats,foto:foto }).then(resp => {
                            if (resp.data.erro != undefined) {
                                alert("Ocorreu um erro ao cadastrar um novo usuario!\n" + "Erro: " + resp.data.erro)
                            } else {
                                window.location.href = "/"
                            }
                        })
                    } else {
                        alert("Credencias de senha inválida")
                    }
                } else {
                    alert("Dados vazios")
                }
            }else{
                btnLogar.disabled = false
                btnLogar.innerHTML = 'Continue'
            }
        }
    </script>
    </body>

    </html>