<%- include('../partials/head.ejs')%>

    <body>
        <nav class="navbar navbar-dark justify-content-between navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Bootstrap
                </a>
            </div>
        </nav>

        <div class="container-fluid text-center mt-3">
            <span data-feather="user"></span>
            <h1>Login Cliente</h1>
        </div>
    </body>
    <!-- choose one -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.28.0/feather.min.js.map"></script>
    <script src="/js/feather.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/telefone.js"></script>
    <script>
        function valid() {
            var nome = document.getElementById("nome").value
            var email = document.getElementById("email").value
            var numero = document.getElementById("numero").value
            var senha = document.getElementById("senha").value
            var confirm = document.getElementById("confirm").value
            if (nome != '') {
                let n = document.getElementById("nome")
                n.classList.remove("is-invalid")
                n.classList.add("is-valid")
            } else {
                let n = document.getElementById("nome")
                n.classList.remove("is-valid")
                n.classList.add("is-invalid")
            }
            if (email != '') {
                let e = document.getElementById("email")
                e.classList.remove("is-invalid")
                e.classList.add("is-valid")
            } else {
                let e = document.getElementById("email")
                e.classList.remove("is-valid")
                e.classList.add("is-invalid")
            } if (numero != '' && numero.length > 14) {
                let t = document.getElementById("numero")
                t.classList.remove("is-invalid")
                t.classList.add("is-valid")
            } else {
                let t = document.getElementById("numero")
                t.classList.remove("is-valid")
                t.classList.add("is-invalid")
            }
        }
    </script>
    <script src="/js/axios.min.js"></script>
    <script>
        function criar() {
            var nome = document.getElementById("nome").value
            var email = document.getElementById("email").value
            var numero = document.getElementById("numero").value
            var senha = document.getElementById("senha").value
            var confirm = document.getElementById("confirm").value
            if (nome != '' && email != '' && numero != '' && senha != '' && confirm != '') {
                if (senha == confirm) {
                    axios.post("/usuario/criar", { nome: nome, email: email, numero: numero, senha: senha, confirm: confirm }).then(resp => {
                        if (resp.data.erro != undefined) {
                            alert("Ocorreu um erro ao cadastrar um novo usuario!\n" + "Erro: " + resp.data.erro)
                        } else {
                            window.location.href = "/"
                        }
                    })
                } else {
                    alert("Credencias de senha inválida")
                }
            } else {
                alert("Dados vazios")
            }
        }

        function logar() {
            var emailLogin = document.getElementById("emailLogin").value
            var senhaLogin = document.getElementById("senhaLogin").value
            if (emailLogin != '' && senhaLogin != '') {
                axios.post("/usuario/login", { emailLogin: emailLogin, senhaLogin: senhaLogin }).then(resp => {
                    if (resp.data.erro != undefined) {
                        alert("Ocorreu um erro ao logar!\n" + "Erro: " + resp.data.erro)
                    } else {
                        window.location.href = "/"
                    }
                })
            } else {
                alert("Dados do login estão vazios")
                if (emailLogin != '') {
                    let e = document.getElementById("emailLogin")
                    e.classList.remove("is-invalid")
                    e.classList.add("is-valid")
                } else {
                    let e = document.getElementById("emailLogin")
                    e.classList.remove("is-valid")
                    e.classList.add("is-invalid")
                }

                if (senhaLogin != '') {
                    let s = document.getElementById("senhaLogin")
                    s.classList.remove("is-invalid")
                    s.classList.add("is-valid")
                } else {
                    let s = document.getElementById("senhaLogin")
                    s.classList.remove("is-valid")
                    s.classList.add("is-invalid")
                }
            }
        }
    </script>
    </body>

    </html>