<%- include('../partials/head.ejs')%>
    <script src="https://unpkg.com/feather-icons"></script>

    <body>
        <%- include('../partials/navLogin.ejs')%>

        <div class="container-fluid">
            <div class="text-center my-md-5 my-4">
                <span data-feather="user" class="mb-3"></span>
                <span class="fs-1">Login do Cliente</span>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="emailLogin" class="form-label">Email:</label>
                    <input type="email" name="emailLogin" placeholder="Ex: seuemail@seuemail.com" id="emailLogin"
                        class="form-control">
                </div>
            </div>

            <div class="row justify-content-center mt-md-4 mt-2">
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="senhaLogin" class="form-label">Senha:</label>
                    <input type="password" name="senhaLogin" id="senhaLogin" class="form-control">
                </div>
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-lg-3 col-md-5 col-8">
                    <button id="btnLogar" onclick="logar()" class="btn btn-dark form-control">Continuar</button>
                </div>
            </div>

            <div class="text-center mt-3">
                <a href="/esqueceuSenha">Esqueceu senha?</a>
                <p class="mt-2">Não tem conta? <a href="/usuario/cadastrar">Cadastre-se</a></p>
            </div>

        </div>
    </body>
    <!-- choose one -->

    <script>
        feather.replace()
    </script>
    <script src="/js/feather.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/telefone.js"></script>
    <script src="/js/axios.min.js"></script>
    <script>
        function logar() {
            var btnLogar = document.getElementById("btnLogar")
            btnLogar.disabled = true
            btnLogar.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loading...`

            var emailLogin = document.getElementById("emailLogin").value
            var senhaLogin = document.getElementById("senhaLogin").value
            if (emailLogin != '' && senhaLogin != '') {
                axios.post("/usuario/login", { emailLogin: emailLogin, senhaLogin: senhaLogin }).then(resp => {
                    if (resp.data.erro != undefined) {
                        btnLogar.disabled = false
                        btnLogar.innerHTML = 'Continue'
                        alert("Ocorreu um erro ao logar!\n" + "Erro: " + resp.data.erro)
                    } else {
                        window.location.href = "/"
                    }
                })
            } else {
                alert("Dados do login estão vazios")
                btnLogar.disabled = false
                btnLogar.innerHTML = 'Continue'
                if (emailLogin != '') {
                    let e = document.getElementById("emailLogin")
                    e.classList.remove("is-invalid")
                    e.classList.add("is-valid")
                } else {
                    let e = document.getElementById("emailLogin")
                    e.classList.remove("is-valid")
                    e.classList.add("is-invalid")
                }

                if (senhaLogin != '') {
                    let s = document.getElementById("senhaLogin")
                    s.classList.remove("is-invalid")
                    s.classList.add("is-valid")
                } else {
                    let s = document.getElementById("senhaLogin")
                    s.classList.remove("is-valid")
                    s.classList.add("is-invalid")
                }
            }
        }
    </script>
    </body>

    </html>