<%- include('../partials/head.ejs')%>

    <%- include('../partials/nav.ejs')%>
        <div class="container">
            <hr>
            <div class="card mt-5">
                <div class="card-header">
                    <h2>Criação de Usuário</h2>
                </div>
                <div class="card-body">

                    <form action="/criar/usuario" method="POST" class="row g-3 needs-validation"
                        onsubmit="sub(event,this)" novalidate id="form1" enctype="multipart/form-data">


                        <div class="col-md-2">
                            <div class="personal-image">
                                <label class="label">
                                    <input type="file" id="fileFoto" onchange="encodeImageFileAsURL()"/>
                                    <input type="hidden" id="foto" name="foto">
                                    <figure class="personal-figure">
                                        <img src="/img/avatar.jpg" class="personal-avatar" id="imagem" alt="avatar">
                                        <figcaption class="personal-figcaption">
                                            <img
                                                src="https://raw.githubusercontent.com/ThiagoLuizNunes/angular-boilerplate/master/src/assets/imgs/camera-white.png">
                                        </figcaption>
                                    </figure>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <label for="nome" class="form-label">Nome</label>
                            <input class="form-control" type="text" id="nome" name="nome" placeholder="Davi"
                                autocomplete="x" required>
                        </div>
                        <div class="col-md-5">
                            <label for="sobrenome" class="form-label">Sobrenome</label>
                            <input class="form-control" type="text" id="sobrenome" name="sobrenome"
                                placeholder="Henrique" autocomplete="x" required>
                        </div>



                        <div class="col-md-6">
                            <label for="email" class="form-label">Email</label>
                            <input class="form-control" id="email" type="email" name="email"
                                placeholder="seuemail@seuemail.com" autocomplete="off" required>
                        </div>
                        <div class="col-md-6">
                            <label for="celular" class="form-label">Celular</label>
                            <input class="form-control" type="tel" id="phone" name="celular"
                                placeholder="(99)9 9999-9999" autocomplete="x" required onkeypress="mask(this, mphone);"
                                onblur="mask(this, mphone);" maxlength="15">
                        </div>

                        <div class="col-md-6">
                            <label for="telefone" class="form-label">Senha</label>
                            <input class="form-control" type="password" id="senha" name="senha" placeholder="********"
                                required autocomplete="x">

                        </div>
                        <div class="col-md-6">
                            <label for="telefone" class="form-label">Confirma Senha</label>
                            <input class="form-control" type="password" id="confirm" name="confirm"
                                placeholder="********" required>
                        </div>
                        <br>
                        <hr>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirme seus dados pessoais</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="cpf" class="form-label">CPF</label>
                                                <input class="form-control" type="text" id="cpf" name="cpf"
                                                    placeholder="000.000.000-00" autocomplete="x" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="dataNasc" class="form-label">Data de Nascimento</label>
                                                <input class="form-control" type="date" id="dataNasc" name="dataNasc"
                                                    autocomplete="x" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Fechar</button>
                                        <button type="submit" id="buttom" class="btn btn-primary"
                                            onclick="validar()">Salvar dados</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary form-control" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Criar</button>
                    </form>
                </div>
            </div>

        </div>
        </body>
        <%- include('../partials/footer.ejs')%>
            <script src="/js/validar.js"></script>
            <script src="/js/telefone.js"></script>
            <script src="/js/sub.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
                function validar() {
                    var nome = document.getElementById("nome").value
                    var sobrenome = document.getElementById("sobrenome").value
                    var email = document.getElementById("email").value
                    var celular = document.getElementById("phone").value
                    var senha = document.getElementById("senha").value
                    var confirm = document.getElementById("confirm").value
                    var cpf = document.getElementById("cpf").value
                    var dataNasc = document.getElementById("dataNasc").value
                    event.preventDefault()
                    axios.post("/criar/usuario", { nome: nome, sobrenome: sobrenome, email: email, celular: celular, senha: senha, confirm: confirm, cpf: cpf, dataNasc: dataNasc }).then(resp => {
                        if (resp.data.erro != undefined) {
                            alert(resp.data.erro)
                        } else if (resp.data.resp != undefined) {
                            alert(resp.data.resp)
                        }
                    }).catch(err => {
                        console.log(err)
                    })
                }
            </script>
            <script>
                function encodeImageFileAsURL() {
                    var filesSelected = document.getElementById("fileFoto").files;
                    if (filesSelected.length > 0) {
                        var fileToLoad = filesSelected[0];
                        var fileReader = new FileReader();
                        fileReader.onload = function (fileLoadedEvent) {
                            var srcData = fileLoadedEvent.target.result; // <--- data: base64
                            document.getElementById("foto").value = srcData;
                            var img = document.getElementById("imagem").src = srcData
                        }
                        fileReader.readAsDataURL(fileToLoad);
                    }
                }
            </script>